.all-tasks {
  height: 400px;
  overflow: auto;
  background-color: white;
}

.task-item {
  padding: 8px;
  border-bottom: 1px solid black;
}

.body-task-item {
  margin-top: 10px;
  padding: 0 16px;
}

.task-title {
  color: #3D405B;
}
.task-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  > section:first-child {
    width: 70%;
  }
  > section:last-child {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.task-description {
  margin-bottom: 16px;
  > h4 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
}
.task-completion-date {
  > h4 {
    margin-bottom: 5px;
  }
  > p {
    font-weight: 700;
    color: #E07A5F;
  }
}

.task-completed {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  > input {
    margin-top: 8px;
    transform: scale(2);
    cursor: pointer;
  }
}

.task-action-buttons {
  display: flex;
  flex-flow: row nowrap;

  > button {
    width: 80px;
    height: 40px;
    margin-top: 16px;
    border: 0;
    border-radius: 10px;
    background-color: #F2CC8F;
    cursor: pointer;
  }

  > button:last-child {
    background-color: #E07A5F;
  }
}

.no-task-to-add {
  padding: 16px;
  background-color: white;
  > p > span {
    font-weight: 700;
  }
}
