.add-task-form {
  padding: 16px;
  background-color: white;
}

.fieldset-form {
  display: flex;
  flex-flow: column nowrap;

  border: 0;

  > label {
    margin-bottom: 16px;
  }
  > label > input {
    height: 32px;
    width: 60%;
    padding-left: 8px;
    margin-top: 4px;
  }
  > label > textarea {
    width: 60%;
    padding: 8px;
    margin-top: 4px;
  }
}

.calendar-completion-date {
  > span {
    display: flex;
    align-items: center;
    margin-top: 8px;

    > svg {
      margin-left: 8px;
      cursor: pointer;
    }
  }
}

.completion-date {
  font-size: 1.9rem;
  font-weight: 700;
  color: #E07A5F;
}

.add-task-button {
  width: 120px;
  height: 60px;
  margin-top: 32px;
  border: 0;
  border-radius: 10px;
  background-color: #81B29A;
}
