.edit-task-form {
  display: flex;
  flex-flow: column nowrap;

  padding: 16px;
  background-color: white;
}

.fieldset-sections {
  display: flex;
  flex-flow: row nowrap;

  > fieldset:first-child {
    width: 70%;
  }
  > fieldset:last-child {
    width: 30%;
  }
}

.fieldset-form {
  display: flex;
  flex-flow: column nowrap;

  border: 0;

  > label {
    margin-bottom: 16px;
  }
  > label > input {
    height: 32px;
    width: 100%;
    padding-left: 8px;
    margin-top: 4px;
  }
  > label > textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
  }
}

.calendar-completion-date {
  > span {
    display: flex;
    align-items: center;
    margin-top: 8px;

    > svg {
      margin-left: 8px;
      cursor: pointer;
    }
  }
}

.completion-date-style {
  font-size: 1.9rem;
  font-weight: 700;
  color: #E07A5F;
}

.edit-task-button, .cancel-edit-task-button {
  width: 120px;
  height: 60px;
  margin-top: 32px;
  border: 0;
  border-radius: 10px;
  background-color: #81B29A;
  cursor: pointer;
}

.cancel-edit-task-button {
  margin-left: 32px;
  color: white;
  background-color: #3D405B;
}

.no-task-to-edit {
  padding: 16px;
  background-color: white;
  > p > span {
    font-weight: 700;
  }
}

.task-completed-style {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  > input {
    margin-top: 8px;
    transform: scale(2);
    cursor: pointer;
  }
}
