.task-list {
  background-color: white;
  border: 1px solid black;
}

.task-list-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 16px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.task-list-item:last-child {
  border-bottom: 0;
}
.task-list-item:hover {
  background-color: #81B29A;
}

.task-list-item > span {
  margin-top: 10px;
}

.active {
  background-color: #E07A5F;
}
