*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines 1rem */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.9rem;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-size: 5.4rem;
  line-height: 6.5rem;
  margin: 0;
}
h2 {
  font-size: 3.6rem;
  line-height: 4.3rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
