/* COLOR PALETTE */
$white: #ffffff;
$black: #000000;
$redish: blue;


/* FONT */
$visitedRed: #bf3030;
$greeny: #006621;


/* ASIDE */
$grayLine: #dedede;


// Eggshell - F4F1DE
// Terra Cotta - E07A5F
// Independence - 3D405B
// Green Sheen - 81B29A
// Deep Champagne - F2CC8F
